@charset "UTF-8";

div.quadrado {
    background-color: #add8e6;
    border: solid #000000;
    display: inline-block;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

div.retangulo {
    background-color: lightblue;
    border: solid black;
    display: block;
    border-radius: 10px;
    height: 300px;
    width: 1000px;

    margin: 10px;
}

div#q1 {
    background-color: red;
}

div#q2 {
    background-color: green;
}

div#q3 {
    background-color: blue;
}

div#q4 {
    background-image: linear-gradient(to right, yellow, red);
}

div#q5 {
    background-image: linear-gradient(to bottom, blue, orange);
}

div#q6 {
    background-image: linear-gradient(to left, pink, cyan);
}

div#q7 {
    background-image: url(../Images/pattern001.png);
}

div#q8 {
    background-image: url(../Images/pattern002.png);
}

div#q9 {
    background-image: url(../Images/pattern003.png);
}

div#qid {
    background-image: url(https://www.ruansmarques.fun/img/ruansmarques-2.png);
    background-position: center center;
}

div#r1 {

}

div#r2 {
    
}

div#r3 {
    
}

div#r4 {
    
}