@charset "UTF-8";

div.quadrado {
    background-color: #add8e6;
    border: solid #000000;
    display: inline-block;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

div#q1 {
    background-image: url(../Images/pattern001.png);
}

div#q2 {
    background-image: url(../Images/pattern002.png);
}

div#q3 {
    background-image: url(../Images/pattern003.png);
}