@charset "UTF-8";

body {
    background-color: #1f2020;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightcyan;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    list-style-type: none;
}

main{
    background-color: #3c3c3c;
    width: 1080px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 15px;
    text-align: justify;
}

a {
    color: lightcyan;
    text-decoration: none;    
}

a:hover {
    color: lightseagreen;
}

#central-download {
    text-align: center;
    list-style: none;
    padding-bottom: 20px;
}