@charset "UTF-8";

body {
    background-color: rgb(128, 255, 255);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    list-style-type: none;
}

main{
    background-color: rgb(224, 255, 255);
    width: 1080px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h2 {
    background-color: rgb(0, 0, 255); color: rgb(255, 255, 255)
}

a {
    color: black;
    text-decoration: none;    
}

a:hover {
    color: blue;
}